.layout {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  margin: 60px;
  border-radius: 5px 5px 0 0;
  box-shadow: var(--semi-shadow-elevated);
  color: var(--semi-color-text-1);
}
.header, .footer {
  box-sizing: border-box;
  height: 64px;
  line-height: 64px;
  padding-left: 50px;
  padding-right: 50px;
  background: var(--semi-color-fill-0);
}
.sider {
  box-sizing: border-box;
  width: 120px;
  background: var(--semi-color-fill-2);
}
