.layout {
  box-sizing: border-box;
  position: relative;
  text-align: center;
}
.header, .footer {
  box-sizing: border-box;
  height: 64px;
  line-height: 64px;
  padding-left: 50px;
  padding-right: 50px;
  background: rgba(var(--semi-grey-1), 1);
  color: rgba(var(--semi-grey-9), 1);
}
.sider {
  box-sizing: border-box;
  width: 300px;
  background: rgba(var(--semi-grey-2), 1);
  color: rgba(var(--semi-grey-9), 1);
}
.center {
  height: calc(100vh - 128px);
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}